/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/testes/*
/codeold
.idea/
.env
.env.backup
ssh_key.txt
.phpunit.result.cache
docker-compose.override.yml
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/Livro-de-Inspertores
.idea/
.env
.env.backup
ssh_key.txt
.phpunit.result.cache
docker-compose.override.yml
database-heroku.txt
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log